*{
    margin: 0;
    padding: 0;
    --dark-green: #0e100b;
    --button-bg-color:#b7ed73;
    color: white;
}
body{
    background-color: black;
}

.gradient-text {
    background-image: linear-gradient(to right,white, white, #696969 , #bebebe ); /* Gradient colors */
    -webkit-background-clip: text; /* Ensures the background applies to text */
    -webkit-text-fill-color: transparent; /* Makes the gradient visible */
  }


/* nav bar */
nav{
    display: flex;
    font-size: 1.4rem;
    height: 60px;
    align-items: center;
    padding-top: .7rem;
    justify-content: space-between;
}
.logo{
    display: flex;
}
.name{
    padding-left: .5rem;
}

.logo p{
    
    font-size: 1.6rem;
    padding-left: .4rem;
}
.logo span{
    font-size: 1.3rem;
    color: #5f5e5e;
}
.logo img{
    height: 3rem;
    background-color: var(--button-bg-color);
    padding: .3rem;
    border-radius: .5rem;
    margin-left: 1rem;
}

.nav-bar{
    display: flex;
    background-color: #313131;
    
    list-style-type: none;
    height: 50px;
    align-items: center;
    
    border-radius: 2.2rem;

}
.nav-bar a{
    text-decoration: none;
}
.nav-bar-items{
    padding-top: .6rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    height: 70%;
    font-weight: 400;
    color: #bdbcbc;
    border-radius: 2.2rem;
}
.nav-bar-items:hover{
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    color: black;
}

.profile i{
    color: white;
    font-size: 1.2rem;
    background-color: #212121;
    padding: 1rem;
    border-radius: 50%;
}
.profile i:hover{
    background-color: var(--button-bg-color);
    color: black;
}
.fa-user{
    margin: 0 2rem 0 2rem ;
    
}


/* Trainer */
.trainer{
    text-align: center;
    justify-content: center;
}
.trainer h1{
    font-size: 3.6rem;
    margin-top: 2rem;
    font-family: sans-serif;
}
.trainer p{
    margin-bottom: 3rem;
}
.card-lib{
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
    width: 28vw;
    height: 13rem;
    overflow: hidden;
    border-radius: .7rem;
        background: linear-gradient(to bottom ,#141a0f ,rgb(32, 32, 32));
}
.card:hover{
    background: linear-gradient(to bottom ,#4a5a38 ,rgb(32, 32, 32));
    

}
.card .img{
    height: 20rem;
    position: relative;
    border-radius: 9rem;
    left: 1.5rem;
}
.desc h3{
    margin: 1rem;
    font-size: 1.6rem;
    position: relative;
    top: 1rem;
    
}
.sport{
    position: relative;
    left: 2.8rem;
    bottom: .4rem;
}
.no-of-client{
    font-size: 1.3rem;
    position: relative;
    top: 2.5rem;
    right: 3rem;

}
.l{
    position: relative;
    opacity: .3;
    top: 3rem;
}
.client{
    opacity: .6;
    font-size: .9rem;
    position: relative;
    top: 3.5rem;
    right: 5.2rem;
}
.year{
    font-size: 1.3rem;
    position: relative;
    left:7.6rem;
    top: .9rem;
}
.years{
    opacity: .6;
    position: relative;
    top: 1.9rem;
    font-size: .9rem;
    left: 5.8rem;
}
.desc a{
    text-decoration: none;
    background-color: #2b2b2b;
    padding: .2rem;
    border-radius: .3rem;
    font-size: .9rem;
}
.motivation{
    position: relative;
    top: 3.7rem;
    right: 3rem;
}
.mentality{
    position: relative;
    top: 2.5rem;
    left: 5.6rem;
}
.three{
    position: relative;
    top: 2.5rem;
    left: 5.5rem;
}
.desc .icon{
    position: relative;
    left: 14rem;
    bottom: 7.5rem;
}



/* Second card */
.img2{
    position: relative;
    left: 3rem;
    height: 14rem;
}
.name2{
    position: relative;
    bottom: .3rem;
    left: .5rem;
}
.sport2{
    position: relative;
    left: 1.2rem;
    bottom: .5rem;
}
.no-of-client2{
    font-size: 1.3rem;
    position: relative;
    top: 3.5rem;
    right: 3rem;
}
.client2{
    position: relative;
    top: 3rem;
    left: .3rem;
    opacity: .6;
}
.l2{
    position: relative;
    top: 3.5rem;
    opacity: .3;
}
.year2{
    position:relative;
    font-size: 1.3rem;
    top: 1.8rem;
    left: 3.3rem;
}
.years2{
    position: relative;
    opacity: .6;
    top: 1.8rem;
    left: 5.4rem;
}
.tags2{
    position: relative;
    top: 2.8rem;
    left: .9rem;
}
.icon2{
    position: relative;
    bottom: 8rem;
    left: 19rem;
    padding: 1rem;
    border-radius: 50%;

}
.l3{
    position: relative;
    opacity: .3;
    top: 3.3rem;
    right: 2.8rem;
}


/* 4th card- */
.sport4{
    position: relative;
    left: 2.5rem;
    top: .5rem;
}
.no-of-client4{
    position: relative;
    font-size: 1.3rem;
    top: 2rem;
    left: 2.5rem;
}   
.client4{
    opacity: .6;
    position: relative;
    top: 3.1rem;
}
.year4{
    font-size: 1.3rem;
    position: relative;
    top: 2rem;
    left: 2.3rem;
}
.years4{
    opacity: .6;
    position: relative;
    top: 1.9rem;
    left: 5.4rem;
}
.l4{
    position: relative;
    top: 2.5rem;
    opacity: .3;
    left: 5rem;
}
.tags4{
    position: relative;
    top: 2.4rem;
    left: 2.4rem;
}
.icon4{
    position: relative;
    bottom: 7.6rem;
    left: 20.6rem;
}


/* 5th tag */
.name5{
    padding-left: .4rem;
}
.sport5{
    position: relative;
    left: 1.8rem;
}
.client5{
    opacity: .6;
    position: relative;
    top: 2rem;
    right: 1.2rem;
}
.no-of-client5{
    font-size: 1.3rem;
    position: relative;

}
.year5{
    position: relative;
    font-size: 1.3rem;
    top: 1.6rem;
    left: 2.8rem;
}
.years5{
    position: relative;
    top: 2.7rem;
    right: 9rem;
    opacity: .6;
}
.tags5{
    position: relative;
    top: 3.6rem;
    left: 1.6rem;
}
.l5{
    position: relative;
    
    
}
.icon5{
    position: relative;
    bottom: 10.5rem;
    left: 18rem;
}


/* 6th card */
.sport6{
    position: relative;
    left: 1rem;
}
.no-of-client6{
    position: relative;
    font-size: 1.3rem;
    right: 5rem;
    top: 3rem;  
}
.client6{
    position: relative;
    opacity: .6;
    left: .7rem;
    top: 2.5rem;
}
.tags6{
    position: relative;
    top: 3.6rem;
    left: 1.2rem;
}
.icon6{
    position: relative;
    bottom: 7rem;
    left: 19.5rem;
}